---
import type { SelectBlogPosts } from "@/db/schema";
import { mdClassName } from "@/lib/content";
import BlogDetails from "../blog-details.astro";

interface Props {
	orgId: string;
	post: SelectBlogPosts;
}

const { post, orgId } = Astro.props;
---

<div class="container">
	<h1
		class="text-5xl md:text-7xl font:bold"
	>
		{post.title}
	</h1>
	<p
		class="text-base-content/75 mb-2"
	>
		{post.description}
	</p>
	<BlogDetails
		orgId={orgId}
		readingTime={post.readingTime}
		writerId={post.writerId}
		date={post.date}
	/>
	<div
		set:html={post.content}
		class={`${mdClassName} mt-4`}
	></div>
</div>
