---
import type { SelectOrganizations } from "@/db/schema";
import About from "../about.astro";
import Location from "../location.astro";
import Mission from "../mission.astro";
import Team from "../team.astro";

interface Props {
	organization: SelectOrganizations;
}

const { organization } = Astro.props;
---

<div
	class="bg-gradient-to-b from-accent/50 via-accent/10 mb-8"
>
	<div class="flex flex-col items-start justify-end h-72 container">
		<img
			src={organization.logoUrl || ""}
			alt={organization.name}
			class="w-32 h-32 rounded-box"
		/>
		<h1
			class="text-2xl font-bold"
		>
			{organization.name}
		</h1>
		<Location
			location={organization.location}
		/>
	</div>
</div>

<div class="container space-y-8">
	<About
		about={organization.about}
	/>

	<Mission
		mission={organization.mission}
	/>

	<Team
		orgId={organization.id}
		enabled={organization.teamSectionEnabled}
	/>
</div>
