---
import { organizations } from "@/db/schema";
import Layout from "@/layouts/tenant-layout.astro";
import { getProjectAccessFromRequest } from "@/lib/tenant";
import { eq } from "drizzle-orm";

const { slug } = Astro.params;
const db = Astro.locals.db;
if (!slug) {
	return Astro.redirect(import.meta.env.SITE);
}
const projectId = await getProjectAccessFromRequest(Astro);

if (projectId) {
	return Astro.redirect("/app");
}

const org = await db
	.select()
	.from(organizations)
	.where(eq(organizations.slug, slug))
	.limit(1)
	.get();

if (!org) {
	return Astro.redirect(import.meta.env.SITE);
}
---

<Layout
	title="No access"
	orgName={org.name}
	theme={org.theme}
	favicon={org.logoUrl}
	class="container my-4 flex flex-col justify-center items-center text-center gap-2"
>
	<h1 class="text-5xl font-bold">
		No access
	</h1>
	<p>
		Unfortunately, we couldn't connect you to our project.
		{org.email ? (
			<>If you have any questions, please contact us at <a href={`mailto:${org.email}`} class="link">{org.email}</a>.</>
		) : null}
	</p>
	{org.email ?
		<a
			class="btn"
			href={`mailto:${org.email}`}
		>
			Request access
		</a>
	: null}
</Layout>
