---
import "@/styles/global.css";
import "@fontsource-variable/bricolage-grotesque";
import logoDark from "@/assets/logo-dark.svg";
import logoLight from "@/assets/logo-light.svg";
import { Toaster } from "@/components/toaster";
import Analytics from "@vercel/analytics/astro";

const faviconDark = await getImage({
	src: logoDark,
	format: "svg",
	width: 32,
	height: 32,
});
const faviconLight = await getImage({
	src: logoLight,
	format: "svg",
	width: 32,
	height: 32,
});
import { getImage } from "astro:assets";
import Navbar from "@/components/navbar.astro";
import { mdClassName } from "@/lib/markdown";

interface Props {
	class?: string;
	title?: string;
	frontmatter?: Omit<Props, "frontmatter">;
}

const props = Astro.props.frontmatter ?? Astro.props;
const isMarkdown = !!Astro.props.frontmatter;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			media="(prefers-color-scheme: dark)"
			href={faviconLight.src}
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			media="(prefers-color-scheme: light)"
			href={faviconDark.src}
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{Astro.props.title ? `${Astro.props.title} - Giolt` : "Giolt - Where volunteers find everything, and organizations save time."}
		</title>
		<Analytics />
	</head>
	<body>
		<body class="flex flex-col min-h-svh">
			<Navbar
				enableAccountButton
			/>
			<main class={`flex-1 ${props.class ?? ""} ${isMarkdown ? `${mdClassName} !container my-4` : ""}`}>
				<slot/>
			</main>
			<Toaster client:load/>
		</body>
	</body>
</html>
